{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  "rules": {
    "semi": "error",
    "object-curly-spacing": ["error", "always"],
    "no-trailing-spaces": "error",
    "react/jsx-indent": [2, 2],
    "quotes": ["error", "double"],
    "indent": ["error", 2],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "max-len": ["error", { "code": 80, "ignoreStrings": true, "ignoreComments": true }],
    "comma-dangle": ["error", "never"]
  }
}
